.right {
    /* Layout */
    float: right;
}

.left {
    /* Layout */
    float: left;
}

.centerHorizontal {
    margin-right: auto;
    margin-left: auto;
}

.textoCentralizado {
    margin: auto;
    vertical-align: middle;
    text-align: center;
}

.verde {
    background-color: green;
}

.textoVermelho {
    color: red;
}

.formContainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}